.window {
  position: fixed;
  top: 0;
  bottom: 0;

  width: 600px;
  height: 400px;

  animation: expand var(--transition-smooth-params);
}

.expanded {
  width: 100dvw !important;
  height: 100dvh !important;
  transform: none !important;
  border: 0;

  border-radius: 0;

  transition: width var(--transition-smooth-params), height var(--transition-smooth-params), transform var(--transition-smooth-params);
}

@keyframes expand {
  from {
    transform: scale(0);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}
