.text {
  color: var(--text-primary);
  line-height: var(--leading-normal);

  margin: 0;

  &.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &.secondary {
    color: var(--text-secondary);
  }

  &.tertiary {
    color: var(--text-tertiary);
  }

  &.link {
    color: var(--text-link);
  }

  &.error {
    color: var(--error);
  }

  &.success {
    color: var(--success);
  }

  &.warning {
    color: var(--warning);
  }

  &.accent {
    color: var(--accent-primary);
  }
}
