.main-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;

  background-color: var(--bg-panel);

  &__header {
    display: flex;
    align-items: center;
    gap: 12px;
    flex-shrink: 0;
    background-color: var(--bg-panel);

    padding: 12px;

    &__menu-button {
      margin-right: auto;
    }
  }

  &__body {
    flex-grow: 1;
    display: flex;
    position: relative;

    padding-left: 12px;

    @media (max-width: 1024px) {
      padding-left: 0;
    }
  }

  &__sidebar {
    flex-shrink: 0;
    width: 256px;
    background-color: var(--bg-panel);
    padding: 0 12px;

    display: flex;
    flex-direction: column;
    gap: 12px;

    overflow: hidden;

    transition: transform var(--transition-smooth-params),
      width var(--transition-smooth-params),
      padding var(--transition-smooth-params);

    &.closed {
      padding: 0;
      width: 0;
      transform: translateX(-100%);
    }

    @media (max-width: 1024px) {
      transition: none;
      position: absolute;
      top: 0;
      left: 0;
      transform: translateX(-100%);
    }
  }

  &__content-wrapper {
    display: flex;
    flex-grow: 1;
    padding: 0 12px 12px 0;

    @media (max-width: 1024px) {
      padding: 0 12px 12px;
    }
  }

  &__content {
    flex-grow: 1;
    background-color: var(--bg-primary);
    border-radius: var(--border-radius-base);
    border: 1px solid var(--border-default);

    padding: 12px;
  }
}
