.dropdown {
  &__trigger {
    width: max-content;
  }

  &__content {
    position: absolute;
    top: calc(100% + 4px);
    left: 0;
    z-index: var(--z-dropdown);
    box-shadow: var(--elev-1);

    background-color: var(--bg-surface);
    border-radius: var(--border-radius-base);
    border: 1px solid var(--border-default);

    animation: heightExpand 0.25s ease-in-out;
  }
}

@keyframes heightExpand {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
