.modal {
  position: fixed;
  top: 0;
  bottom: 0;

  width: 600px;
  height: 400px;

  animation: expand var(--transition-smooth-params);
}

@keyframes expand {
  from {
    transform: scale(0);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}
