.input {
  padding: 8px 12px;
  border: 1px solid var(--border-default);
  border-radius: var(--border-radius-base);

  background-color: var(--bg-surface);
  color: var(--text-primary);
  font-size: var(--text-lg);
  line-height: var(--leading-normal);

  &:disabled ~ label {
    pointer-events: none;
  }

  &:disabled {
    opacity: 0.75;
    pointer-events: none;
  }

  &-wrapper {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  &:hover:not(:disabled) {
    background-color: var(--bg-hover);
  }

  &:focus:not(:disabled) {
    outline: none;
    border-color: var(--border-active);
    background-color: var(--bg-hover);
  }

  &::placeholder {
    color: var(--text-secondary);
  }
}

textarea.input {
  resize: vertical;
  height: calc(var(--text-lg) * var(--leading-normal) * 4 /* lines */ + 8px * 2 + 1px);
  min-height: calc(var(--text-lg) * var(--leading-normal) * 4 /* lines */ + 8px * 2 + 2px);
}
