@use '@shared/ui/styles/media' as media;

.persona-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;

  border-radius: var(--border-radius-base);
  overflow: hidden;
  border: 1px solid var(--border-default);
  background-color: var(--bg-panel);

  &:hover {
    cursor: pointer;
    background-color: var(--bg-hover);
  }

  &:hover &__actions {
    opacity: 1;
  }

  @include media.mobile-xs {
    &__list {
      display: flex;
      flex-direction: column;
      gap: 8px;
    }

    .persona-item {
      display: grid;
      grid-template-columns: 56px minmax(0, 1fr) auto;
      align-items: center;
      gap: 12px;
      padding: 8px;
    }

    .persona-item__avatar.avatar {
      width: 56px;
      height: 56px;
      aspect-ratio: 1;
      border-radius: var(--border-radius-base);
    }

    .persona-item__actions {
      opacity: 1;
    }
  }

  &__actions__menu {
    display: flex;
    align-items: flex-start;
    flex-direction: column;

    // NOTE: should we make component ButtonGroup for this maybe?
    button {
      width: 100%;
      justify-content: flex-start;
      border-radius: 0;
    }
  }

  &__info {
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 8px;

    &__name {
      max-width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-weight: var(--font-semibold);
    }

    &__description {
      max-width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      color: var(--text-secondary);
    }
  }

  &__actions {
    opacity: 0;
    flex-shrink: 0;
    margin: auto 0 0 auto;
  }
}
