html,
body,
#storybook-root {
  width: 100%;
  height: auto;
  min-height: 100%;
  max-height: none;
  overflow: auto;
}

body {
  display: block;
}

.sb-show-main {
  background: var(--bg-primary);
}

.docs-story {
  background: var(--bg-primary);
  color: var(--text-primary);
}
