
* {
  --background-color: #232323;
  --text-color: #d5d5d5;
  --text-size-m: 1.5rem;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: var(--text-size-m);
  color: var(--text-color);
  background-color: var(--background-color);
  margin: 0;
}

body,
#app {
  display: flex;
  flex-direction: column;
  width: 100dvw;
  height: 100dvh;
}

p {
  margin: 0;
}
