.character-item {
  display: flex;
  align-items: center;
  gap: 8px;

  border-radius: var(--border-radius-base);

  padding: 8px 12px;

  &:hover {
    cursor: pointer;
    background-color: var(--bg-hover);
  }

  &:hover &__actions {
    opacity: 1;
  }

  &__avatar {
    flex-shrink: 0;
  }

  &__actions__menu {
    display: flex;
    align-items: flex-start;
    flex-direction: column;

    // NOTE: should we make component ButtonGroup for this maybe?
    button {
      width: 100%;
      justify-content: flex-start;
      border-radius: 0;
    }
  }

  &__info {
    overflow: hidden;
    display: flex;
    flex-direction: column;

    &__name {
      max-width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-weight: var(--font-semibold);
    }

    &__description {
      max-width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      color: var(--text-secondary);
    }
  }

  &__actions {
    opacity: 0;
    flex-shrink: 0;
    margin-left: auto;
  }
}
